/* Started Shantanu */

.h4{
  font-size: 16px !important;
}

/* Ended  Shantanu*/


  body {
    /* margin: 0 auto; */
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #ffffff;
  }
  div>button>svg{margin-left:10px !important }

#fullCont{
    background-color: #000000;
    color:#ffffff;
    margin: auto;
    margin-top: 0px;
    /* padding-top: 100px; */


}

  #gaping {
    border: 1px solid transparent;
     width: 70%;
    height: 10px;
  }


  #gameName{
      margin-left: 15px;
      cursor: pointer;
  } 

  /* #gameName:hover{
    transform: scale(1.05);
    transition: 0.2s;
    margin-left: 39px;
}  */

 
  .product-img {
    align-content: center;
  }
  .product-thumb-img ul {
    padding: 0;
  }
  .product-thumb-img i {
    font-size: 40px;
  }
  .product-thumb-img i,
  .product-thumb-img li{
    padding: 10px 9px;
  }
  .product-thumb-img li{
    display: inline-block;
  }
  .product-thumb-img img {
    cursor: pointer;
  }
  .product-title .title {
    color: #0077BF;
    font-weight: bold;
    font-size: 23px;
  }
  .product-title span {
    display: block;
  }
  .product-price {
    font-weight: bold;
    font-size: 20px;
  }
  .product-price {
    margin-top: 10px;
  }
  .product-price span {
    padding-right: 10px;
  }
  .product-price .price-value {
    color: #0077BF;
    font-size: 35px;
  }
  .product-price .msrp-tag,
  .product-price .msrp-value {
    font-size: 15px;
    color: #999;
  }
  .product-price .msrp-value {
    text-decoration: line-through;
  }
  .product-manufac .manufac-item {
    font-weight: bold;
    padding-left: 6px;
  }
  .availability {
    margin-top: 10px;
  }
  .availability ul li {
    margin: 5px 60px;
  }
  .availability ul li span,
  .availability ul li i{
    padding: 0 5px;
    font-weight: bold;
  }
  .availability .aviala-value {
    color:#0077bf;  
  }
  .availability ul li i {
    color:#00bf02;  
  }
  .buttons {
    margin-top: 40px;
  }
  .buttons .dropdown,
  .buttons .add-to-cart {
    display: inline-block;
  }
  .btn {
    border-radius: 50px;
    height: 50px;
    width: 100px;
    border: 1px solid  #bababa;
    background-color: #ececec;
  }
  .btn i {
    padding-left: 35px;
  }
  .add-to-cart button {
    color: #fff;
    background-color: #00bf02;
    font-weight: bold;
    margin-left: 10px;
    width: 280px;
  }
  .add-to-cart i {
    padding-left: 20px;
    font-size: 18px;
  }
  .add-to-cart button:hover {
    color: #fff;
  }
  .img-banner {
    margin-top: 20px;
  }
  .img-banner span img {
    margin-bottom: 20px;
  }
  .descrip-wrapper,
  .may-also-like {
    margin-top: 50px;
  }
  .prod-name span {
    display: block;
  }
  .prod-name .prod-title,
  .prod-details .prod-details-title {
    color: #0077bf;
    font-weight: bold;
    font-size: 25px;
  }
  .prod-details,
  .details {
    margin-top: 20px;
  }
  .details ul,
  .detail-name {
    list-style-type: none;
    padding: 0;
  }
  .detail-name {
    font-weight: bold;
  }
  .detail-name li,
  .detail-info li {
   line-height: 250%;
  }
  .literature li a:before {
    content:"f1c1";
    color: #ed1c24;
    font-size: 40px;
    font-family: fontAwesome;
    margin: 40px 10px;
  }
  .literature a {
    text-decoration: none;
    color: #333
  }
  .literature span {
    font-weight: bold;
    font-size: 15px;
  }
  .literature,
  .literature ul {
    padding: 0;
  }
  .literature ul li {
    list-style-type: none;
    padding: 20px 0;
  }


  .yourownclass{
    font-family: "Arial Bold", Gadget, sans-serif;
    font-style: normal;
    font-size: 25px; 
    padding:12px 20px;
    
 }

 #BuyButton{
  font-size: 17px;
  font-weight: bolder;
  margin-top: 10px;
  padding-top: 11px;
 }

 #BuyButton:hover{
  background-color: blueviolet;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.96;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  }

 #Buttn{
   font-size: 15px;
   font-weight: bold;
   margin-top: 10px;
   padding-top: 10px;
   background-color: black;
 }

#Buttn:hover{
background-color: darkslategray;
-webkit-transform: scale(0.9);
transform: scale(0.9);
opacity: 0.96;
-webkit-transition: opacity 800ms ease-in-out 0s;
transition: opacity 800ms ease-in-out 0s;
-webkit-transition: -webkit-transform 1s ease-in-out 0s;
transition: -webkit-transform 1s ease-in-out 0s;
transition: transform 1s ease-in-out 0s;
transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
cursor: pointer;
border-radius: 5px;
border: 1px solid white;
}

#Butn{
  font-size: 14px;
   font-weight: bold;
   margin-top: 10px;
   padding-top: 7px;
   background-color: black;
   height: 40px;
}

#Butn:hover{
  background-color: darkslategray;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.96;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  }

  #verified{   
    border-radius: 8.9px;
    margin-right: 5px;
  }

  #addImage{   
    border-radius: 8.5px;
    margin-right: 5px;
  }

#badegs{
  padding: 10px 20px;
  background-color: #474747;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bolder;
}

#badegs:hover{
  border-color:white;
  -webkit-transform: scale(0.9);
 transform: scale(0.9);
 /* opacity: 0.96; */
 -webkit-transition: opacity 800ms ease-in-out 0s;
 /* transition: opacity 800ms ease-in-out 0s; */
 -webkit-transition: -webkit-transform 1s ease-in-out 0s;
 transition: -webkit-transform 1s ease-in-out 0s;
 transition: transform 1s ease-in-out 0s;
 transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
 cursor: pointer;
}

.Develop{
  border-bottom: 1px solid #898989;
  font-size: 16px;
}


#Developers{
  color: #898989;
  font-size: 17px;
  padding-bottom: 5px;
}

#vl {
 border: 1px solid #898989;
 width:70px; 
 transform:rotate(90deg);
  margin: auto;
  margin-left: -40px;
  margin-top: 80px;
}
#vl1{
  border: 1px solid #898989;
 width:70px; 
 transform:rotate(90deg);
  margin: auto;
  margin-left: 370px;
  margin-top: -10px;
}

.genres{
  color: #898989;
  font-size: 17px;
  padding: 7px;
  margin: auto;
  margin-top: -45px;
  margin-left: 25px;
}
.Features{
  color: #898989;
  font-size: 17px;
  padding: 7px;
  margin: auto;
  margin-top: -45px;
  margin-left: 440px;
}



#Action{
  color: white;
  margin: auto;
  margin-left: 34px;
  border-bottom: 1px solid white;
}
#Action:hover{
  font-size: 17px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#Simulation{
  color: white;
  margin: auto;
  border-bottom: 1px solid white;
}

#Simulation:hover{
  font-size: 17px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#Strategy{
  color: white;
  margin: auto;
  border-bottom: 1px solid white;
}

#Strategy:hover{
  font-size: 17px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#Single{
  color: white;
  margin: auto;
  border-bottom: 1px solid white;
  margin: auto;
  
}

#Single:hover{
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#boxAccess{
  width: 100%;
  height: 200px;
  border: 1px solid #898989;
  margin: auto;
  margin-top:40px;
}

#boxAccess>ul{
  list-style-type: none;
  padding-top: 15px;
  color: #898989;
}

#boxAccessDetailsh{
  padding-top: 10px;
  font-size: 14px;
  margin-right: 40px;
  color: #898989;
}
#boxAccessDetils{
  font-size: 14px;
  padding-top: 10px;
  margin-right: 20px;
  color: #898989;
}

#LearnMore{
  color: #898989;
  font-size: 14px;
  border-bottom: 1px solid #898989;
}

 /* <===============================================================================================================================================================> */


 .slick-slider .slick-prev,
 .slick-slider .slick-next {
   z-index:100;
   font-size: 1.9em;
   height: 40px;
   width: 40px;
   color: #b7b7b7;
   position: absolute;
   top: 50%;
   text-align: center;
   color: white;
   transition: opacity 0.15s;
   cursor: pointer;
   transform: scale(1.15);
   transition: 0.2s;
 }
 .slick-slider .slick-prev:hover,
 .slick-slider .slick-next:hover {
   opacity: 0.55;
   background-color: rgb(0, 0, 0);
   transform: scale(1.15);
   transition: 0.2s;
   /* margin-top: -20px; */
 }
 .slick-slider .slick-prev {
   left: 0;
   /* background-color: thistle; */
   border-radius: 30px;
   transform: scale(1.15);
   transition: 0.2s;

 }
 .slick-slider .slick-next {
   right: 0;
   /* background-color: thistle; */
   border-radius: 30px;
   transform: scale(1.15);
   transition: 0.2s;
 }

 
 #detail .product-images {
   width: 100%;
   margin: 0 auto;
   position: relative;
   z-index: 0;
   /* border: 1px solid #eee; */
 }
 #detail .product-images li,
 #detail .product-images figure,
 #detail .product-images a,
 #detail .product-images img {
   display: block;
   outline: none;
   border: none;
 }
 #detail .product-images .main-img-slider figure {
   margin: 0 auto;
   padding: 0 2em;
 }
 #detail .product-images .main-img-slider figure a {
   cursor: pointer;
   cursor: -webkit-zoom-in;
   cursor: -moz-zoom-in;
   cursor: zoom-in;
 }
 #detail .product-images .main-img-slider figure a img {
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
 }
 #detail .product-images .thumb-nav {
   margin: 0 auto;
   padding: 20px 10px;
   max-width: 600px;
 }
 #detail .product-images .thumb-nav.slick-slider .slick-prev,
 #detail .product-images .thumb-nav.slick-slider .slick-next {
   font-size: 1.2em;
   height: 20px;
   width: 26px;
   margin-top: -15px;
 }
 #detail .product-images .thumb-nav.slick-slider .slick-prev {
   margin-left: -15px;
 }
 #detail .product-images .thumb-nav.slick-slider .slick-next {
   margin-right: -15px;
 }
 #detail .product-images .thumb-nav li {
   display: block;
   margin: 0 auto;
   cursor: pointer;
 }
 #detail .product-images .thumb-nav li img {
   display: block;
   width: 100%;
   max-width: 75px;
   margin: 0 auto;
   border: 2px solid transparent;
   -webkit-transition: border-color 0.25s;
   -ms-transition: border-color 0.25s;
   -moz-transition: border-color 0.25s;
   transition: border-color 0.25s;
   
 }
 #detail .product-images .thumb-nav li:hover,
 #detail .product-images .thumb-nav li:focus {
   border-color: rgb(255, 255, 255);
   -webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.96;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;

 }
 #detail .product-images .thumb-nav li.slick-current img {
   border-color: #fdfdfd;
 
   -webkit-transform: scale(0.9);
   transform: scale(0.9);
   opacity: 0.96;
   -webkit-transition: opacity 800ms ease-in-out 0s;
   transition: opacity 800ms ease-in-out 0s;
   -webkit-transition: -webkit-transform 1s ease-in-out 0s;
   transition: -webkit-transform 1s ease-in-out 0s;
   transition: transform 1s ease-in-out 0s;
   transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
   cursor: pointer;
 }


#mainImageslider:hover{
  transform: scale(1.05);
    transition: 0.2s;
}

#product_image:hover{
  -webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.96;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
}


#Abouts{
  font-size: 16px;
  text-align: -moz-center;
  text-align: "." center;
  line-height: 1.25;
  color: #898989;
 
}

.prod_datais{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-left: -12px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  
}

.read-more-state ~ .read-more-trigger:before {
  content: 'SHOW MORE \00a0 ▲';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'SHOW LESS \00a0 ▼';
}

.read-more-trigger {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  line-height: 2;
  border-radius: .25em;
   font-weight: bold;
   margin-top: 5px;
   background-color: #494949;
   height: 40px;
   text-align: center;
   padding-top: 4px;
   color: #ffffff;
}


.read-more-trigger:hover{
  background-color: rgb(93, 116, 116);
  -webkit-transform: scale(1.7);
  transform: scale(0.96);
  opacity: 0.96;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  }

  #Descrption{
    margin-top: 10px;
  }


#container,#container2{
  width: 89.5%;
  height: 150px;
  background-color: #262626;
  border-radius: 5px;
  margin-top:15px ;
}

#conatainerIcon{
  margin: auto;
  margin-left: 260px;
  margin-top: 50px;
  border-radius: 50px;
}



#container:hover{
  -webkit-transform: scale(1.9);
  transform: scale(1.01);
  opacity: 0.96;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  /* cursor: pointer; */
  border-radius: 5px;
  border: 1px solid white;
}

.follow,.SpecificationsSection{
  margin-left: -10px;
  margin-top: 30px;
}

#conatainerIcon2{
  margin: auto;
  margin-left: 30px;
  margin-top: 50px;

}

#conatainerIcon3{
  margin: auto;
  margin-left: 30px;
  margin-top: 50px;
  border-radius: 50px;
}

#container2{
  height: 790px;
  margin-bottom: 20px;
}


#boxes_1{
  /* border: 1px solid red; */
  width: 80%;
  height: 700px;
  margin: auto;
  padding-top: 20px;
}

#boxes_2{
  width: 6.3rem;
border-bottom: 2.5px solid white;
border-radius: 1px;
}

#boxes_1HR{
  background-color:#898989 ;
  margin-top: -1.9px;
  float: right;
  width: 51.9rem;

}


#boxes_3{
  /* border: 1px solid whitesmoke; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,45% 50%);
}

.innerCol>h3{
  margin-top: 15px;
  
}

.minimumGameRequired{
  color: #898989;
  font-size: 17px;
}

#minimum{
margin-bottom: -10px;
}

#minimums{
  margin-top:30px ;
}

#recommendedID{
  margin-left: 20px;
  margin-top:10px;
}

#boxes_2HR{
  background-color:#898989 ;
  width: 222%;
  margin-top: 40px;
}

input[type='text'] { font-size: 16px; }
input[type='submit'] { font-size: 16px; }

.Freedom{
  width: 222%;
  font-size: 15px;
  text-align: center;
}

/* <-----   Back To Top Button -----------> */

 .back-to-top {
  padding: 1rem;
  position: fixed;
  bottom: 8%;
  right: 1%;
  z-index: 2;
  opacity: 0.60;
  background-color: rgba(255, 255, 255, 0.952);
    border-radius: 30px;
}

.back-to-top:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  opacity: 1;
}




 /* <===============================================================================================================================================================> */
 /* <===============================================================================================================================================================> */



     
 #signInContainer{
   /* z-index: initial; */

  width: 80%;
  height: 820px;
  margin: auto;
  background-color: white;
  z-index: 1;
  left: 200px;
  position:absolute;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


@keyframes animatetop {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
.signInFlex{
  display: grid;
 grid-template-columns: repeat(2,70% 30%);
 border: 1px solid red;
 height: 100%;
}
.nikeLogoBox{
 border: 1px solid transparent;
/* background-color: thistle; */
  
}


.paymentDiv{
height: 400px;
background-color: rgb(137, 152, 194);



}

.crossLogo>img {
  transition: transform .7s ease-in-out;
}
.crossLogo>img:hover {
  transform: rotate(360deg);
}

.userImageIcon{
  margin-top: 1px;
  margin-right: 5px;
}


#popupBoxes{
  background-color:#0a89ff;
  height: 3px;
  margin-top: -1.9px;
  width: 50%;
  margin-left: 15px;
}

#popupHr{
  background-color:#898989 ;
  margin-top: 1px;
  float: right;
  width:95%;
 margin-right: 5px;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.wrapper{
  max-width: 100%;
  padding: 10px 20px;
}
.wrapper .parent-tab,
.wrapper .child-tab{
  margin-bottom: 8px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 15px rgba(0,0,0,0.18); */
}

#tab-1{
margin-left: 20px;
}
.cardNumber{
  margin-left: 50px;
  margin-top: 20px;
  
}

#cardno{
  margin-top: -100px;
}
.inputs{
  width: 90%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #494949;
}
#exdate{
  width: 45%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #494949;
}
#cvv{
  width: 45%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #494949;
}

.creditImg{
  object-fit: cover;
  margin-left: 10px;
  border-radius: 5px;
  height: 60px;
}
#Saved{
  margin-left: 50px;
  margin-top: 20px;
}



.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: hidden;
  background-color: #e4e8eb;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}


#paymentsIcon{
  margin-top: -30px;
  float: right;
}
#cardNumber{
  float: left;
  margin-top: 40px;
}

.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}
.tab-3 input:checked ~ .content{
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p{
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p{
  font-size: 15px;
}
#policy{
  margin: 0px;
  margin-left: 10px;
  margin-top: -39px;
}
#policyDiv{
  margin-left: 50px;
}
input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 4;
}

#policyPal{
  margin-left: -20px;
}

#container_2{
  margin-left: 20px;
}
.Learn{
  color: #000000;
  border-bottom: 1px solid black;
  text-decoration: none;
}
.Learn:hover{
  text-decoration: none;
  font-size: 17px;
}

.submitForm{
  margin-left: 52px;
  margin-top: 15px;
}

.submitForm2{
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}

.orderSummary{
  border: 1px solid transparent;
  /* background-color: rgb(250, 245, 250); */
  background-color: #eef1f5;
  /* height: 800px; */
}

.crossLogo{
  margin: 10px;
  margin-left: -30px;
  cursor: pointer;
}


#orderSummaryRow{
  /* background-color: #eef1f5; */
  background-color: transparent !important;
  border:none;
}

#cardGroup{
  /* background-color: #eef1f5; */
  background-color: transparent !important;
  border:none;
 
}
#cardGroup2{
  /* background-color: #eef1f5; */
  background-color: transparent !important;
  border:none;
}

#DiscountPrice{
  width: 90%; 
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;
}




#applyButton{
  font-size: 17px;
  font-weight: bolder;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6);

 }

 #applyButton:hover{
  /* background-color: blueviolet; */
  /* color: whitesmoke; */
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.96;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  }

#btncontainer{
  justify-content: space-between;
  flex-direction: column;
  /* height: 100vh; */
}

#placeOrder{
  font-size: 17px;
  font-weight: bolder;
  width: 90%;
  margin: auto;
  /* margin-bottom: 100px; */
  height: 60px;

  /* border: 1px solid black; */
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6);

 }

 #placeOrder:hover{
  background-color: blueviolet;
  color: whitesmoke;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.96;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(172, 154, 154);
  }


  #policy_2{
   width: 95%;
    margin-top: -20px;
  }
  #policyDiv_2{
    width: 85%;
    margin: auto;
    margin-top: 35px;
  }


  .privacy_2{
    border-bottom: 1px solid blue;
    text-decoration: none;
    color: blue;
  }


 /* <===============================================================================================================================================================> */
 /* <===============================================================================================================================================================> */

  @media (min-width: 1999px){ 
    .top-contact span:first-child {
      display: none;
    }
  }